<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Roto Standings</title>
</head>
<body>
<h2>Week <%= week %></h2>
    <% let team %>

<ol class="item_list">
<% sortedRanks.forEach((team) => { %>
    <li><%= team.key %> Average Rank: <%= team.value %> </li><br>
<% }); %>
</ol>

    <% for(let key in stats) { %>
<h2><%= statIdObj[key] %></h2>
<ul class="item_list" style="list-style: none;">
        <% stats[key].forEach((stat) => { %>
            <% team = Object.keys(stat) %>
            <li><%= stat[team[1]] %>: <%= team[0] %>: <%= stat[team[0]] %></li>
        <% });%>
</ul>
    <% }; %>


<a href="/">Standings</a>
</body>
</html>