<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Roto Standings</title>
</head>
<body>
<h2>Week <%= week %></h2>
    <% let team %>
    <% for(let key in stats) { %>
<h2><%= key %></h2>
<ul class="item_list">
        <% stats[key].forEach((stat) => { %>
            <% team = Object.keys(stat) %>
            <li><%= stat[team[1]] %>: <%= team[0] %>: <%= stat[team[0]] %></li>
        <% });%>
</ul>
    <% }; %>

<% sortedRanks.forEach((team) => { %>
<ul class="item_list">
    <li><%= team.key %> Average Rank: <%= team.value %> </li>
</ul>
<% }); %>
<a href="/">Refresh Standings</a>
</body>
</html>